<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Бин для категории "Ужасы" -->
    <bean id="horrorCategory" class="com.example.model.Horror"/>
    
    <!-- Бин для категории "Фэнтези" -->
    <bean id="fantasyCategory" class="com.example.model.Fantasy"/>

    <!-- Бин для отображателя категорий -->
    <bean id="viewer" class="com.example.view.Viewer">
        <constructor-arg ref="horrorCategory"/>
    </bean>

</beans>